.task-card {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 1rem 1.5rem;

  .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0rem;
    word-break: break-word;
  }
}

