.column {
  background-color: #ebecf0;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 1.5rem 1rem 0;
  padding-bottom: 2rem;
  box-shadow: 0px 0px 4px 0px #888888;
  min-width: 250px;
  width: 100%;

  .title {
    font-weight: 500;
    padding: 1rem;
    margin: 0;
    border-bottom: 1px solid #dddddd;
  }

  .body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
    height: 100vh;
  }
}
