@import "~antd/dist/antd.min.css";

html, body {
  background: #dddddd;
  font-size: 14px;
}

.columns {
  display: flex;
  overflow-x: auto;
  margin: 0 1rem;
  padding-bottom: 1rem;
}

.app-title {
  color: #222222;
  text-align: center;
  margin: 1.5rem auto 0;
}

.border-0 {
  border: 0;
  outline: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.bg-light-gray {
  background-color: rgba(0, 0, 0, 0.1);
}

.float-right {
  float: right;
}

.text-danger {
  color: #bb2124 !important;
}

.cursor-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.ant-btn-primary {
  background-color: #222222;
  border: 0;

  &:hover {
    background-color: lighten(#222222, 8%);
  }
}

.w-90p {
  width: 90%;
}

.ant-modal-body {
  overflow: hidden;
}

.card-desc {
  border: 1px solid rgba(1, 0, 1, 0.2);
  box-shadow: 0px 0px 1px 1px rgba(1, 0, 1, 0.2);
  width: 100%;
  margin-bottom: 1rem;
}

.activities-list {
  width: 100%;
  margin-top: 2.5rem;
  max-height: 300px;
  overflow-y: auto;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(75, 107, 145, 0.2);
}
